[Unit]
Description=Run http-server with frontend
After=network.target

[Service]
User=frontend
Group=frontend
Type=simple
WorkingDirectory=/opt/sausage-store/static/dist/frontend
ExecStart=/usr/bin/http-server -p 80 --proxy http://localhost:8080
Restart=always

[Install]
WantedBy=multi-user.target
