[Unit]
Description=Sausage Store Backend Service
After=network-online.target

[Service]
User=backend
Group=backend
WorkingDirectory=/var/sausage-store/

ExecStartPre=/bin/sleep 5

# Java Application Environment
Environment=JAVA_HOME=/usr/lib/jvm/java-16-openjdk-amd64/bin/java
Environment=LOG_PATH=/var/sausage-store/
Environment=REPORT_PATH=/var/sausage-store/reports/

# PostgreSQL Configuration
Environment="SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}"
Environment="SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}"
Environment="SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}"

# MongoDB Configuration
Environment="SPRING_DATA_MONGODB_URI=${SPRING_DATA_MONGODB_URI}"


# Запуск приложения
ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java -jar /opt/sausage-store/bin/sausage-store-backend.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sausage-store-backend

[Install]
WantedBy=multi-user.target
